{% extends 'base.html.twig' %}

{% block title %}Modification de "Merci"{% endblock %}

{% block body %}
<div class="center-container">
    <div class="title-section">
        <h1>Modifier ce "Merci"</h1>
    </div>

    {{ include('thanks/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('thanks/_delete_form.html.twig') }}

    <div class="button-section">
        <a href="{{ path('app_thanks_index') }}">Retour a la liste des merci</a>
    </div>
</div>
    
{% endblock %}
