{% extends 'base.html.twig' %}

{% block title %}Nouveau Merci{% endblock %}

{% block body %}
<div class="center-container">
    <div class="title-section">
    <h1>Crée un nouveau Merci</h1>
    </div>

    {{ include('thanks/_form.html.twig') }}

     <div class="button-section">
        <a href="{{ path('app_thanks_index') }}">Retour à la liste des merci</a>
    </div>
    </div>
{% endblock %}
